@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;  
}

:root{
  --blue: #00B2FF;
  --dark-blue: #0C0C17;
  --black: #000;
  --white: #fff;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--dark-blue);
  font-size: 1.6rem;
  overflow-x: hidden;

}

header{
  background-color: var(--black);
  width: 100vw;
}

.header-content {
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.logo{
  display: flex; 
  gap: .6rem;
}

.logo h4 {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: regular;
}

nav {
  display: flex;
}

nav button {
  background: none;
  border: none;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 2rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.8rem;
}

nav a:hover{
  letter-spacing: .8rem;
  color: var(--blue);
  transition-duration: 300ms;
}

#btn-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  #btn-menu{
    display: block;
  }

  #menu {
    display: block;
    width: 100%;
    position: absolute;
    top: 4.8rem;
    right: 0;
    height: 0;
    transition: .6s ease-in; 
    visibility: hidden;
    overflow-y: hidden;
    z-index: 100;
    background-color: var(--dark-blue);
    border-top: 1px solid var(--white);
    padding-inline: 3rem;
  }

  #menu li {
    padding: 2rem 0;
    margin: 0 auto;
    border-bottom: 1px solid var(--white);
  }

  .logo{
    margin: 0 auto;
  }

  .header-content {
    flex-direction: row-reverse;
  }

  nav.active #menu  {
    height: calc(100vh - 7rem );
    visibility: visible;
    overflow-y: auto;
  }

  .name {
    margin-top: -25vw;
  }
}

.profile {
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
  background-color: var(--black);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.name h1 {
  font-weight: lighter;
  font-size: clamp(3.2rem, 3.2rem + 1vw, 6rem);
  color: var(--white);
}

.name h1::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

.name h2{
  font-weight: lighter;
  font-size: clamp(2.4rem, 2.4rem + 1vw, 4rem);
  text-transform: uppercase;
  color: var(--blue);
}

.name h2::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

.midias{
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
    z-index: 100;

  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.midias img {
  width: 3rem;
  cursor: pointer;
}

.midias img:hover{
  filter: opacity(0.1);
  transition-duration: 250ms;
}


@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* SOBRE MIM */

.about {
  padding-top: 9vh;
  background: linear-gradient(180deg, #000000 0%, #0C0C17 3.12%);
}

.about-text {
  color: var(--white);
  padding: 0 2rem;
  width: 90vw;
  max-width: 70rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  text-align: center;
}

.about-text h1{
  font-size: clamp(3.2rem, 3.2rem + 1vw, 4rem);
}

.about-text p {
  font-size: clamp(1.6rem, .1rem + 1vw, 2.4rem);
  font-weight: lighter;
  text-align: center;
  line-height: 180%;
  letter-spacing: .1rem;
}

/* SKILLS */

